@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>Movie #@Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>


<div>
    @if ((bool)ViewData["Relleno"])
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><span>|</span>
        <a asp-action="Index"> Back to List</a><span>|</span>
        if ((bool)ViewData["anterior"] == true)
        {
            <a asp-action="Details" asp-route-id="@ViewData["prev"]" asp-route-booleano="true">Prev </a><span>|</span>
        }
        else
        {
            <p style="display:inline-block;">Prev</p><span>|</span>
        }

        <a>#@Html.DisplayFor(model => model.Id)</a><span>|</span>
        if ((bool)ViewData["siguiente"] == true)
        {
            <a asp-action="Details" asp-route-id="@ViewData["next"]" asp-route-booleano="true">Next</a>
        }
        else
        {
            <p style="display:inline-block;">Next</p>
        }
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit </a><span>|</span>
        <a asp-action="Index"> Back to List </a><span>|</span>
        if ((bool)ViewData["anterior"] == true)
        {
            <a asp-action="Details" asp-route-id="@ViewData["prev"]" asp-route-booleano="false">Prev </a><span>|</span>
        }
        else
        {
            <p style="display:inline-block;">Prev</p><span>|</span>
        }
        if ((bool)ViewData["siguiente"] == true)
        {
            <a asp-action="Details" asp-route-id="@ViewData["next"]" asp-route-booleano="false">Next</a>
        }
        else
        {
            <p style="display:inline-block;">Next</p>
        }
    }
</div>
